    <!-- hero area -->
<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">Beautiful & Quality</p>
            <h1>AKTT - Online Floral Delivery</h1>
            <div class="hero-btns">
              <a [routerLink]="['/shop']" class="boxed-btn">Floral Collection</a>
              <a [routerLink]="['/contact']" class="bordered-btn">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon" style="color:#F28123;padding-right: 20px;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="16" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16" style="transform: scale(3);">
              <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>
          </div>
          <div class="content">
            <h3>Free Fast</h3>
            <p>5 hours from order</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon" style="color:#F28123;padding-right: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="16" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16" style="transform: scale(3);">
              <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
            </svg>
          </div>
          <div class="content">
            <h3>24/7 Support</h3>
            <p>Get support all day</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="list-box d-flex justify-content-start align-items-center">
          <div class="list-icon" style="color:#F28123;padding-right: 20px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="16" fill="currentColor" class="bi bi-credit-card-2-front-fill" viewBox="0 0 16 16" style="transform: scale(3);">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
            </svg>
          </div>
          <div class="content">
            <h3>Fast Payment</h3>
            <p>
              Simple online payment</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end features list section -->


<!-- product section -->
<!-- vòng lặp sản phẩm theo loai(category) : trong category cho mặc định là 3 hoặc 6 loại hoa (tùy thích) rồi lấy ra theo và lấy ảnh bất kỳ gắn lên tương ứng với từng loại, khi bấn vào từng loại hoa thì qua giỏi hàng và load theo loại hoa được chọn-->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">List of</span> Bouquets</h3>
          <p>"Explore our exceptional products tailored to your specific needs."</p>
        </div>
      </div>
    </div>

    <div class="row">
      <ng-container *ngIf="cateogryIdBouquet != null">
        <div class="col-lg-4 col-md-6 text-center" *ngFor="let bq of cateogryIdBouquet">
          <div class="single-product-item">
            <input type="hidden" value="{{bq.bouquetId}}">
            <input type="hidden" value="{{bq.categoryId}}">
            <div class="product-image">
              <a><img src="{{bq.imageUrl}}" alt=""></a>
            </div>
            <h3>{{bq.categoryName}}</h3>
            <!-- <p class="product-price"> {{bq.categoryName}} </p> -->
            <a [routerLink]="['/shop']" class="cart-btn"> &#8594; See More</a>
          </div>
        </div>
      </ng-container>

    </div>
  </div>
</div>
<!-- end product section -->

<!-- cart banner section -->
<section class="cart-banner pt-100 pb-100">
    <div class="container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-lg-6">
                <div class="image" style="padding-left: 100px;">
                    <div class="price-box">
                        <div class="inner-price">
                              <span class="price">
                                  <strong>HOT!</strong> <br>  Discount
                              </span>
                          </div>
                      </div>
                    <img src="{{eventDealOfMonth.imageUrl}}" alt=""  style="width: 350px;height: 400px;">
                  </div>
              </div>
              <!--Content Column-->
              <div class="content-column col-lg-6">
        <h3><span class="orange-text">{{eventDealOfMonth.eventName}}</span></h3>
                  <h4>Monthly discount event with attractive offers </h4>
                  <div class="text">{{eventDealOfMonth.description}}</div>
                  <!--Countdown Timer-->
                  <div class="time-counter">
                    <div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">{{eventDealOfMonth.startDate}}</span>Start Form</div></div> <div class="counter-column"><div class="inner"><span class="count">{{eventDealOfMonth.endDate}}</span>To Date</div></div></div>
                  </div>
                <a [routerLink]="['/shop']" class="cart-btn mt-3">Shop Now</a>
              </div>
          </div>
      </div>
  </section>
  <!-- end cart banner section -->

<!-- product section -->
<!-- vòng lặp sản phẩm bán nhiều nhất (3 sản phẩm) -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">
            Favorite</span> Bouquets</h3>
          <p>"The most beloved product that captures hearts and stands out."</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- thực hiện vòng lặp ở đây lấy ra 3 sản phẩm được bán nhiều nhất -->
        <ng-container *ngIf="favoritebouqute != null">
          <div class="col-lg-4 col-md-6 text-center" *ngFor="let bq of favoritebouqute">
              <div class="single-product-item" >
                <input type="hidden" value="{{bq.bouquetId}}">
                <div class="product-image">
                  <a [routerLink]="['/singleProduct',{bouquetId: bq.bouquetId}]" ><img src="{{bq.imageUrl}}" alt="" style="width: 250px;"></a>
                </div>
                <h3>{{bq.bouquetName}}</h3>
                <p>{{bq.categoryName}}</p>
                <p class="product-price">{{bq.price}} $ </p>
                <input type="submit" class="cart-btn" value="Add To Cart" (click)="addBouquetToCart(bq.bouquetId)">
              </div>
          </div>
      </ng-container>


    </div>
  </div>
</div>
<!-- end product section -->


<!-- shop banner -->
<ng-container *ngIf="eventSale != null">
<section class="shop-banner" *ngFor="let event of eventSale" style="background-image: url({{event.imageUrl}});">
    <div class="container">
      <h3>{{event.description}} <br> with big event <span class="orange-text">{{event.eventName}}</span></h3>
        <div class="sale-percent"><span>Start From: <br></span> <span style="color: #F28123;">{{event.startDate}}</span>
          <span>To Date <br></span> <span style="color: #F28123;">{{event.endDate}}</span>
        </div>
        <a [routerLink]="['/shop']" class="cart-btn btn-lg">Shop Now</a>
    </div>
</section>
</ng-container>
<!-- end shop banner -->


<!-- product section -->
<!-- vòng lặp sản phẩm mới nhất (6 sản phẩm) -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="section-title">
          <h3><span class="orange-text">Latest</span> Bouquets</h3>
          <p>"Discover the charm and uniqueness of our latest product"</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Thực hiện vòng lặp ở đây -->

      <ng-container *ngIf="newbouquet != null">
        <div class="col-lg-4 col-md-6 text-center" *ngFor="let bq of newbouquet">

          <div class="single-product-item">
            <div class="product-image">
              <input type="hidden" value="{{bq.bouquetId}}">
              <a [routerLink]="['/singleProduct',{bouquetId: bq.bouquetId}]"><img src="{{bq.imageUrl}}" alt=""></a>
            </div>
            <h3>{{bq.bouquetName}}</h3>
            <p>{{bq.categoryName}}</p>
            <p class="product-price">{{bq.price}} $</p>
            <input class="cart-btn" type="submit" (click)="addNewBouquetToCart(bq.bouquetId)" value="Add to Cart">
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- end product section -->

