<div class="single-product-tab-area mg-b-30">
  <!-- Single pro tab review Start-->
  <div class="single-pro-review-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="review-tab-pro-inner">
            <ul id="myTab3" class="tab-review-design">
              <li class="active">
                <a
                  ><i class="icon nalika-edit" aria-hidden="true"></i> Edit Role</a
                >
              </li>
              <li>
                <a [routerLink]="['/admin/roleadmin']"
                  > Back</a
                >
              </li>
            </ul>
            <div id="myTabContent" class="tab-content custom-product-edit">
              <div
                class="product-tab-list tab-pane fade active in"
                id="description"
              >
                <div class="row">
                  <!-- from them bo hoa -->

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                      <form action="">
                      <div class="review-content-section">
                        <div class="input-group mg-b-pro-edt">
                          <span class="input-group-addon"
                            ><i class="icon nalika-edit" aria-hidden="true"></i
                          ></span>
                          <!-- nhap lieu o day -->
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Id"
                          />
                        </div>
                        <div class="input-group mg-b-pro-edt">
                         <select name="" id=""  class="form-control">
                          <option value="">Choose Role Admin</option>
                          <option value=""></option>
                         </select>
                        </div>

                        <div class="input-group mg-b-pro-edt">
                          <input
                            type="submit"
                            class="form-control"
                           value="SAVE"
                          />
                        </div>
                      </div>
                    </form>
                    </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
